- var ABOUT = LANG.main.about;

section.about-big
	.about-big__top.container
		h2.about-big__title.title.title--med!= ABOUT.title
		.about-big__right
			span.about-big__text.text--med!= ABOUT.text
			a.about-big__link(href="#")
				img(src="img/svg/insta.svg", alt="insta")
	.about-big__slider-wrap
		.about-big__slider.slider-about-big.js-about-slider2
			.slider-about-big__wrap
				picture
					source(srcset="img/about_slider_main_1.webp", type="image/webp")
					img.slider-about-big__photo(src="img/about_slider_main_1.jpg" alt="")
			.slider-about-big__wrap
				picture
					source(srcset="img/about_slider_main_2.webp", type="image/webp")
					img.slider-about-big__photo(src="img/about_slider_main_2.jpg" alt="")
			.slider-about-big__wrap
				picture
					source(srcset="img/about_slider_main_3.webp", type="image/webp")
					img.slider-about-big__photo(src="img/about_slider_main_3.jpg" alt="")
			.slider-about-big__wrap
				picture
					source(srcset="img/about_slider_main_4.webp", type="image/webp")
					img.slider-about-big__photo(src="img/about_slider_main_4.jpg" alt="")
			.slider-about-big__wrap
				picture
					source(srcset="img/about_slider_main_5.webp", type="image/webp")
					img.slider-about-big__photo(src="img/about_slider_main_5.jpg" alt="")
			.slider-about-big__wrap
				picture
					source(srcset="img/about_slider_main_6.webp", type="image/webp")
					img.slider-about-big__photo(src="img/about_slider_main_6.jpg" alt="")
			.slider-about-big__wrap
				picture
					source(srcset="img/about_slider_main_7.webp", type="image/webp")
					img.slider-about-big__photo(src="img/about_slider_main_7.jpg" alt="")
			.slider-about-big__wrap
				picture
					source(srcset="img/about_slider_main_8.webp", type="image/webp")
					img.slider-about-big__photo(src="img/about_slider_main_8.jpg" alt="")
			.slider-about-big__wrap
				picture
					source(srcset="img/about_slider_main_9.webp", type="image/webp")
					img.slider-about-big__photo(src="img/about_slider_main_9.jpg" alt="")
			.slider-about-big__wrap
				picture
					source(srcset="img/about_slider_main_10.webp", type="image/webp")
					img.slider-about-big__photo(src="img/about_slider_main_10.jpg" alt="")
			.slider-about-big__wrap
				picture
					source(srcset="img/about_slider_main_11.webp", type="image/webp")
					img.slider-about-big__photo(src="img/about_slider_main_11.jpg" alt="")
			.slider-about-big__wrap
				picture
					source(srcset="img/about_slider_main_12.webp", type="image/webp")
					img.slider-about-big__photo(src="img/about_slider_main_12.jpg" alt="")
			.slider-about-big__wrap
				picture
					source(srcset="img/about_slider_main_13.webp", type="image/webp")
					img.slider-about-big__photo(src="img/about_slider_main_13.jpg" alt="")
			.slider-about-big__wrap
				picture
					source(srcset="img/about_slider_main_14.webp", type="image/webp")
					img.slider-about-big__photo(src="img/about_slider_main_14.jpg" alt="")
			.slider-about-big__wrap
				picture
					source(srcset="img/about_slider_main_15.webp", type="image/webp")
					img.slider-about-big__photo(src="img/about_slider_main_15.jpg" alt="")