.banner-top.banner-top--color.banner-top--main.js-banner
	p.banner-top__text.text--med Free shipping on orders over €50!
	img.banner-top__close.js-close-banner(src='img/svg/close-white.svg' alt='close')