- var FORMULA = LANG.main.formula;

section.formula
	.container.formula__container
		h2.formula__title.title.title--big!= FORMULA.title
		.formula__img.formula-img
			img.formula-img__image(src="img/formula-img.jpg", alt="Formula")
			img.formula-img__label(src="img/formula-label.png", alt="Label")
		p.formula__descr.text--big!= FORMULA.desc