extends templates/layout/layout.pug
block head
	title GoodLabs - Home
block content
	include templates/main/promo
	include templates/main/formula
	include templates/main/products
	include templates/main/reviews
	include templates/main/about
	include templates/main/action
	include templates/main/banner-bottom